*{
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 300vh;
    font-family: 'Poppins', sans-serif;
}

article{
    margin-bottom: 3rem;
}

p{
    line-height: 2.5;
    font-size: 1.8rem;
}

.fixed{
    background-color: seagreen;
    color: white;

    margin: auto;

    position: fixed;
    left: 0;
    right: 0;
    top: 0; 
    
    padding: 1rem;
    text-align: center;
}